












button {
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    background-color: #be5915;
    color: #f8f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}